/********************
Header
*********************/

.brand-logo {
  color: #EA882C;
  line-height: 10px;
}

.brand-logo img {
  height: 60px;
  margin-left: 20px;
}

/********************
Books
*********************/
.toggle-buttons {
  margin: 2em;
}

.card-image img{
  max-height: 30em;
}

/********************
Landing
*********************/

.landing-wrapper {
  margin-top: 2em;
}

.landing-img {
  width: 100%;
  margin-top: 2em;
}

/********************
Add Book Page
*********************/
.author-box {
  height: 3em;
}

.to-add-page {
  float: right;
}
